<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "selenium">
    <test name= "data provider">
        <classes>
            <class name="FiltersTest"/>
        </classes>
    </test>
    <test name="actions">
        <classes>
            <class name="SortingTest"/>
        </classes>
    </test>
</suite>